@import "index.css";

#form-container {

    margin-top: 2em;

}

.produce_listing {

    display: table-row;
    width: 100%;

}

#produce_listing_container {

    display: table;
    margin-top: 2em;
    width: 60%;

}

#produce_listing_container > *:nth-child(1) {

    font-weight: bold;
    margin-bottom: 1em;

}

.produce_listing > * {

    display: table-cell;
    width: 33%;

}
